<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>lateReturn</display-name>
  <filter>
    <filter-name>encodings</filter-name>
    <filter-class>com.gxuwz.filter.encoding</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodings</filter-name>
    <url-pattern>/*</url-pattern>
     <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>register</filter-name>
    <filter-class>com.gxuwz.filter.register</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>register</filter-name>
    <url-pattern>/page/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/servlet/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>classServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.classServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>departmentServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.departmentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>managerServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.managerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>teacherServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.teacherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dormbuildingServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.dormbuildingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dormServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.dormServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>houseparentServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.houseparentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>studentServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.studentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>lateReturnServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.lateReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>classServlet</servlet-name>
    <url-pattern>/servlet/classServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>departmentServlet</servlet-name>
    <url-pattern>/servlet/departmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>managerServlet</servlet-name>
    <url-pattern>/servlet/managerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>teacherServlet</servlet-name>
    <url-pattern>/servlet/teacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dormbuildingServlet</servlet-name>
    <url-pattern>/servlet/dormbuildingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dormServlet</servlet-name>
    <url-pattern>/servlet/dormServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>houseparentServlet</servlet-name>
    <url-pattern>/servlet/houseparentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>studentServlet</servlet-name>
    <url-pattern>/servlet/studentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>lateReturnServlet</servlet-name>
    <url-pattern>/servlet/lateReturnServlet</url-pattern>
  </servlet-mapping>
</web-app>